.App {
  padding: 20px 16px 24px;
  margin: 20px 0;
  max-width: 630px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.App ul {
  list-style: none;
  padding: 0;
  color: #92948f;
  font-size: 20px;
}
.App .city {
  font-size: 35px;
  color: black;
  font-weight: bold;
}
.App .temp {
  position: relative;
  top: -55px;
  left: 90px;
  color: black;
  font-size: 50px;
}
.App .degree {
  position: relative;
  bottom: 30px;
  font-size: 20px;
  right: 5px;
}

.App .detail {
  display: flex;
  justify-content: right;
  position: relative;
  bottom: 100px;
}
.App img {
  position: relative;
  top: 30px;
}
.App .forecast {
 display:flex;
 justify-content: space-around;
  position: relative;
  bottom: 40px;
    color: #92948f;
}
.App .forecast-temp {
  display: block;
  position: relative;
  top: 20px;
}
.App .forecast-img{
  position: relative;
  bottom: 10px;
  color: black;
}